<?xml version="1.0" encoding="UTF-8"?>
<extension>
	<information>
		<name>Kindle Series Scanner</name>
		<version>1.0.0</version>
		<author>Auto Series Scanner</author>
		<id>kindle-series-scanner</id>
	</information>
	<menus>
		<menu type="json" dynamic="true">menu.json</menu>
	</menus>
</extension>
